[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
